.head-content h2 {
    font-family: 'Montserrat', sans-serif, Arial;
    font-weight: 700;
    color: #c0d3d3;
    font-size: 36px;
    padding-left: 8%;
    font-weight: normal;
}

.load-more-holder span{
    border-radius: 20px;
    background: #47afbf;
    display: inline-block;
    padding: 0 10px 0 10px;
    margin-right: 3px;
    cursor: pointer;
    color: #FFF;
    font-weight: normal;
    margin-bottom: 5px;
}
.load-more-holder span a {
    color: #FFF !important;
}
.load-more-holder span a:hover {
    color: #FFF ;
}
#header-main-menu ul li {
    float: none;
}
#header-main-menu{
    margin-bottom: 50px;
}
#header-main-menu ul li a:hover {
    background-color: transparent;
}
.rounded {
    font-family: 'Roboto', sans-serif;
    opacity: 0.8 !important;
    font-size: 16px;
    background-color: #FF0020 !important;
}
.image-slider-wrapper {
    padding-left: 10%;

}
.image-slider-wrapper video {
    width: 80%;
}
.area_login {
    width: 300px !important;
    height: 400px !important;
    background-color: #CCC !important ;
}