.head-content h2 {
    font-family: 'Montserrat', sans-serif, Arial;
    font-weight: 700;
    color: #c0d3d3;
    font-size: 36px;
    padding-left: 8%;
    font-weight: normal;
}

.load-more-holder span{
    border-radius: 20px;
    background: #47afbf;
    display: inline-block;
    padding: 0 10px 0 10px;
    margin-right: 3px;
    cursor: pointer;
    color: #FFF;
    font-weight: normal;
    margin-bottom: 5px;
}
.load-more-holder span a {
    color: #FFF !important;
}
.load-more-holder span a:hover {
    color: #FFF ;
}
#header-main-menu ul li {
    float: none;
}
#header-main-menu{
    margin-bottom: 50px;
}
#header-main-menu ul li a:hover {
    background-color: transparent;
}
.rounded {
    font-family: 'Roboto', sans-serif;
    opacity: 0.8 !important;
    font-size: 16px;
    background-color: #FF0020 !important;
}
.image-slider-wrapper {
    padding-left: 10%;

}
.image-slider-wrapper video {
    width: 80%;
}

.featured-post-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.area_login {
    font-family: 'Montserrat', sans-serif, Arial;
    display: none;
    opacity: 0.8;
    align-items: flex-start;
    width: 350px !important;
    
    padding:35px 25px 35px 25px ;
    background-color: #FFF !important ;
    border-radius: 3px;
    border:solid 3px #007bff;
}


.search-holder label {
    width: 100% !important;
}

#content_lista_pesquisa a{
    text-decoration: none;
}

#pesquisa.error {
       border-bottom:solid 1px #D8588C !important;
}
#error_p {
    font-family: 'Montserrat', sans-serif, Arial;
    font-size: 14px;
    opacity: 0;
    display: block;
    background-color:#D8588C ;
    padding: 3px;
    color: #FFF;
    padding-left: 5%;
    

}
.nav-justified {
    margin-left: 8%;
    font-family: 'Montserrat', sans-serif, Arial;

}
.nav-justified h4 {
    padding-top: 0px;
}

.jogo_video {
    margin-top: 20px;
}
.area_video a{
    text-decoration: none;
}
a.active {
    background-color: #0CE889 !important;
    border:none;
}
.content_labels a{
    text-decoration: none;
}

.op_errado {
    color: #FFF;
    background-color: #D8588C !important;
    -webkit-transition: linear 0.3s;
    transition: linear 0.1s;
}